# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs do Docker
.docker/
*.log

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Não enviar arquivos EPUB gerados
*.epub

# Não enviar arquivos JSON de fontes exceto o de exemplo
*.json
!exemplo_source.json

# Não enviar capas de livros exceto a de exemplo
*.jpg
!exemplo_source.jpg